<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
   <configSections>  
       <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >  
           <section name="VisionAICam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />  
       </sectionGroup>  
   </configSections>  
   <userSettings>  
       <VisionAICam.Properties.Settings>  
           <setting name="DefaultCamera" serializeAs="String">  
               <value>Logitech C920</value>  
           </setting>  
           <setting name="Brightness" serializeAs="String">  
               <value>128</value>  
           </setting>  
           <setting name="Contrast" serializeAs="String">  
               <value>128</value>  
           </setting>  
           <setting name="Exposure" serializeAs="String">  
               <value>-6</value>  
           </setting>  
           <setting name="DefaultModelPath" serializeAs="String">  
               <value>C:\models\model.onnx</value>  
           </setting>  
           <setting name="Theme" serializeAs="String">  
               <value>Light</value>  
           </setting>  
           <setting name="DefaultImagePath" serializeAs="String">  
               <value>C:\images\default.jpg</value>  
           </setting>  
       </VisionAICam.Properties.Settings>  
   </userSettings>  
</configuration>